body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.price{
  
}

.image{
  width: 350px;
  height: 350px;
}
.para{
  width: 370px;
}


/* .bottom-cont2{
  display: flex;
  flex-wrap: wrap;
} */